  body {margin:0;}

ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.menu ul {
  padding: 2em 0;

}
.menu a {
  padding: 2em;
  background-image: linear-gradient(to bottom, #e79db5,#ee7858);
  border-right: 1px solid #b19891;
  color: #fdf2ef;
}
.menu a:hover {background-image: linear-gradient(to bottom, rgb(250, 166, 191), #ec737d, rgb(207, 68, 110));}
.menu li {
  display: inline;
}